<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BootCamp</title>
  </head>
  <body>
    <div id="land" class="container">
      <h1>Welcome to the Bootcamp!</h1>
      <p>Learn.Code.Enjoy</p>
      <%= link_to 'Explore', about_path, class: "btn btn-primary btn-sm"%>
    </div>
  </body>
</html>
